header{
    width: 100%;
    padding-top: 16px;
}

.navbar{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 2%;
}

.nav__menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav__list{
    display: flex;
    list-style: none;

    li{
        margin-left: 24px;
    }

    @include responsive(){
        display: none;
    }
}

.logo{
    max-width: 88px;
}

.nav__link{
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $gray-3;
    transition: .7s ease;
    position: relative;

    &::after{
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: -40px;
        width: 2px;
        height: 0;
        transition: .7s ease;
        background: linear-gradient(180deg, rgba(233, 29, 34, 0) 0%, #E91D22 100%);
    }

    &:hover{
        color: $white-light;
        &::after{
            height: 40px;
        }
    }
}

.bx{
    display: none;

    @include responsive(){
        display: block;
        width: 48px;
        height: 48px;
        background-color: $white;
    }
}

.nav__social{
    display: flex;

    svg{
        cursor: pointer;
        margin-left: 16px;
        width: 24px;

        path{
            transition: .7s ease;
        }

        &:hover{
            path, circle{
            fill: $red-light;
            transform: translate3d(0,-3px,0);
            }
        }
    }

    @include responsive(){
        display: none;
    }
}
